@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');




html,
body{
  margin: 0;
  padding: 0;
  overflow-x: none;
}

*{
  box-sizing: border-box;
  /* font-size: 18px; */
  font-family: 'Rubik', sans-serif;
}

:root{
  --soft-blue : hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: rgb(145, 148, 161);
  --very-dark-blue: hsl(229, 31%, 21%);
  --font-small : 12px;
  --inner-width: 84%;
}

button{
  outline: none;
  border: none;
  cursor: pointer;

}

@keyframes opacityIn{
  from {
    opacity: 0;
  }to{
    opacity: 1;
  }
}


/* Media Queries */

/* @media (max-width: 740px){

  .extension{
    height: 100vh !important;
  }

  .extension__bottom__container{
    flex-wrap: wrap;
    min-width: 0px !important ;
    height: 100% !important;
    width: 100% !important;
    border: 2px solid red;
  }
}

@media (max-width: 520px){
  .extension{
    height: !important 1600px;
  }
} */